QLineEdit{
    color: #222;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #aaa;
    background-color: #D8D17C;
    padding: 0px;
}

#categoriesList{
    background-color: #b0b0b0;
    border-radius: 4px;
}

#customerPanel{
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #666;
    background-color: #f9f9f9;
}

ConsoLogos QPushButton:focus {
    outline: none;
}

CategorieButton:focus {
    border: none;
    outline: none;
}

ConsoLogos QPushButton{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #666666;
    border-radius: 7px;
}

ConsoLogos QPushButton:focus{
    border: none;
    outline: none;
}

/*CustomerPanel QPushButton:pressed {
    border: none;
}*/


/*#menu{
    background: url("");;

}


#leftPart{
    background-color: blue;
}

#rightPart{
    background-color: purple;
}

#searchResults{
    background-color: black;
}



#history{
    background-color: #f71;/*orange
}



#consoLogos{
    background-color: #C18CFF;/*mauve clair
}

#cartDisplay{
    background-color: #3FE8FF;/*turquoise
}

#productChoices{
    background-color: #89FF66;/*vert clair
}

/*#searchResultsTable{
    color: yellow;
}*/

/*QMainWindow{
    padding: 0px;
    background-color: green;
}*/
