QLineEdit{
    color: #77f;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #aaa;
    background-color: white;
    padding: 0px;
}

#menu{
    background-color: red;
}

#leftPart{
    background-color: blue;
}

#rightPart{
    background-color: purple;
}

#searchResults{
    background-color: black;
}

#categoriesList{
    background-color: yellow;
}

#history{
    background-color: #f71;/*orange*/
}

#customerPanel{
    background-color: #faa;/*rose*/
}

#consoLogos{
    background-color: #C18CFF;/*mauve clair*/
}

#cartDisplay{
    background-color: #3FE8FF;/*turquoise*/
}

#productChoices{
    background-color: #89FF66;/*vert clair*/
}

/*#activeCategorie{
    background-image: url(../bar-software/resources/pictures/test.png);
}
/*#searchResultsTable{
    color: yellow;
}*/

/*QMainWindow{
    padding: 0px;
    background-color: green;
}*/
