QLineEdit{
    color: #77f;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #aaa;
    background-color: white;
    padding: 0px;
}

#menu{
    background-color: red;
}

#leftPart{
    background-color: blue;
}

#rightPart{
    background-color: purple;
}

#searchResults{
    background-color: black;
}

/*#searchResultsTable{
    color: yellow;
}*/

/*QMainWindow{
    padding: 0px;
    background-color: green;
}*/
