QLineEdit{
color: #222;
font-family: Gisha ;
font-size: 16px;
font-weight: bold;
border-radius: 7px;
border-width: 1.5px;
border-style: solid;
border-color: #aaa;
background-color: grey;
color : white;
padding: 0px;
}

#categoriesList{
background-color: #b0b0b0;
border-radius: 4px;
}

QTableView {
font-family : Gisha;
}

QTableView *{
background-color: grey;
font-family: Gisha;
font-weight: bold;
color : white;
}

#customerPanel{
border-radius: 10px;
border-width: 2px;
border-style: solid;
border-color: #666;
background-color: #f9f9f9;
}

#customerPanel *{
font-family :Gisha;
}

CustomerPanel QPushButton{
padding : 0.5em;
margin-right : 0.5em;
}

#consoLogos *{
font-family: Gisha;
}

ConsoLogos QPushButton{
padding-top: 4px;
padding-bottom: 4px;
padding-left: 2px;
padding-right: 2px;
border: 1px solid black;
border-radius: 7px;
}

#activeTypeOfProduct{
padding-top: 4px;
padding-bottom: 4px;
padding-left: 2px;
padding-right: 2px;
border: 1px solid black;
border-radius: 7px;
outline: none;
color: #f9f9f9;
background-color: grey;
}

/*ConsoLogos QPushButton:focus {
outline: none;
color: #f9f9f9;
background-color: grey;
}*/

ConsoLogos QPushButton:hover{
border: 3px solid black;
font-size:110%;
outline: none;
}

#categorieButton *{
font-family: Gisha black;
}

CategorieButton:focus {
border: none;
outline: none;
}

#menu{
padding-left : 10%;
padding-right : 15%;
}

#leftPart{
margin-top:6%;
margin-bottom:6%;
margin-left: 3%;
margin-right : 6%;
}


#rightPart{
margin-top:6%;
margin-bottom:6%;
margin-left: 6%;
margin-right : 3%;
}


/*CustomerPanel QPushButton:pressed {
border: none;
}*/


/*#menu{
background: url("");;

}








#history{
background-color: #f71;/*orange
}



#consoLogos{
background-color: #C18CFF;/*mauve clair
}

#cartDisplay{
background-color: #3FE8FF;/*turquoise
}

#productChoices{
background-color: #89FF66;/*vert clair
}

/*#searchResultsTable{
color: yellow;
}*/

/*QMainWindow{
padding: 0px;
background-color: green;
}*/
